.MuiDialog-root .MuiDialogActions-root {
  justify-content: space-between;
  padding: 8px 24px;
  font-size: 14px;
}

.MuiDialog-root .MuiDialogTitle-root {
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
}

.MuiDialog-root .MuiDialogTitle-root > img {
  width: 175px;
}

.MuiDialog-root .MuiDialogContentText-root {
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.MuiAlert-outlinedError {
  margin-top: 8px;
  border: none;
}

.upload-file {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.upload-file__icon {
  color: #303f9f !important;
}

.upload-file__icon--upload {
  margin-right: 10px;
}

.image-upload-progress {
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
  .MuiButton-root {
    font-size: 8px !important;
  }
  .MuiDialog-root .MuiDialogContentText-root {
    font-size: 10px !important;
  }
  .MuiDialogActions-spacing > :not(:first-child) {
    font-size: 8px !important;
  }
}
