.add-comment-form-container {
  padding: 0px 16px 8px 16px !important;
  border-top: 1px solid var(--color-grey);
}

.add-comment-form-container .add-comment-form {
  width: 100%;
}

.add-comment-form-container .MuiCardActions-root {
}

.add-comment-form-container .MuiInput-underline:before {
  border-bottom: none !important;
}

.add-comment-form-container .MuiFormControl-marginDense {
  padding: 4px 0px 0px;
}

.add-comment-form-container .MuiGrid-item:last-child {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.add-comment-form-container .MuiGrid-item:last-child button {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.add-comment-form-container .MuiGrid-item:last-child button:hover {
  opacity: 1;
}
